<h1>FizzBuzz</h1>

<.live_component
  module={FizzbuzzServerWeb.FavouriteLive.FormComponent}
  id={@favourite.id || :new}
  title={@page_title}
  action={@live_action}
  favourite={@favourite}
  return_to={Routes.favourite_index_path(@socket, :index)}
/>
