<h1>FizzBuzz</h1>

<.pagination page={@page} per_page={@per_page} />

<%= for {number, result, favourite} <- @numbers do %>
  <.number_display number={number} result={result} favourite={favourite} />
<% end %>
